# Vendor Dependency Issue Template
## Definition
- Vendor Dependency: Something that cannot be fixed due to a lack of a patch / fix from a vendor, 3rd party, or open source project (other than GitLab), but that can be expected to be remediated in the future. These will remain on the POA&M for tracking until the fix is available.
  - Important note on timing: Vendor dependency DRs only need to be submitted if you are confident the vendor will not publish a patch by the due date (based on remediation SLA). If you are unsure, it is okay to wait to submit a DR until closer to the due date or when the label `Remediation SLO::Breaching SLO` is applied.
- Monthly updates from the vendor are required until remediated. Typically, monthly communications begin **after** the vulnerability becomes overdue.
  - NOTE: While GitLab tracks vendor dependencies internally as a FedRAMP Vulnerability Deviation Request, we are not required to seek approval from the AO, however the Security Compliance team must still track and report on these (via our POA&M) and remediation SLAs apply as soon as a fix is published.

## Critical/High Severity Vendor Dependencies - Do not proceed
- If the severity is Critical/High (based on NIST NVD CVSS score), do not continue with this DR. Instead, you must also open a [Deviation Request for Risk Adjustment](https://gitlab.com/gitlab-com/gl-security/security-assurance/security-compliance-commercial-and-dedicated/team-security-dedicated-compliance/poam-deviation-requests/-/blob/main/.gitlab/issue_templates/risk_adjustment_template.md) and add the `FedRAMP Vendor Dependency` label. GitLab is required by FedRAMP to downgrade the severity to Moderate by either providing justification/proof of existing mitigating controls or implementing new ones.

## Checklist
### Requestor
- [x] Provide the URL for the vulnerability details (e.g. pipeline security tab, specific CVE from vulnerability report)
- [x] Vulnerability GitLab issue linked to this DR issue. Issue should have the following labels: `workflow::verification` `FedRAMP DR Status::Open`
- [x] Provide a justification/explanation.
- [x] Evidence attached in issue.
- [x] Severity is not Critical/High (see section above about opening a Risk Adjustment instead)
- [x] When ready for Security (Vulnerability Management team) review, submit this DR issue. The following label is applied automatically `FedRAMP DR Status::Ready for review`
- GitLab is required by FedRAMP to follow up with the vendor/3rd party or open source project maintainers every 30 days to inquire about plans and timeline for a fix. Please support GitLab's security posture and the Security team by contributing a fix if possible.
### Reviewers
- [ ] Security (Vuln Mgmt team) reviews DR classication, justification, and evidence provided. If approved, Security Reviewer changes the label on this DR issue to `FedRAMP DR Status::Compliance review`. If denied, Security Reviewer changes the labels on BOTH the linked vulnerability issue and this DR issue to `FedRAMP DR Status::Denied` and provides a reason in the comments.
  - [ ] Follow up with vendor / 3rd party or open source project every 30 days on their remediation plan and timeline for security patch/update. Put updates in comments and adjust due date to remind you of recurring follow-ups. Inform DR requestor or the appropriate group when a fix is published. This officially restarts the clock on the vulnerability remediation SLA and the due date on the linked vulnerability issue should be set accordingly and within the appropraite GitLab milestone.
- [ ] Security Compliance (Dedicated Markets team) reviews the DR for compliance with FedRAMP requirements. If approved, Compliance Reviewer changes FedRAMP DR Status scoped label to `FedRAMP DR Status::Approved` on BOTH the linked vulnerability issue and this DR issue. If denied, Compliance Reviewer changes FedRAMP DR scoped label  to `FedRAMP DR Status::Denied` on BOTH the linked vulnerability issue and this DR issue.
  - [ ] Compliance Reviewer updates the POA&M with vendor follow-up actions and responses.


## Vulnerability Details (copy and paste)
**URL for the vulnerability from GitLab.com scan result**: {{ vuln_url }}+

| Vulnerability title |  Asset(s) Impacted (container image repo + sha256 digest or host) | Severity (CVSSv3) | Detected Date |
| ------ | ------ | ------ | ------ |
| {{ vuln_title }} | {{ image }} {{ image_sha256 }} | {{ severity }} | {{ detected_date }} |

### Justification
Provide a clear justification for this deviation with as many details as possible. This will need to stand up to Security, Auditor, and Agency scrutiny.

This is a transient dependency that comes from our base image.
There is no fix available for now and we need to wait until the fix will be available in the base image.

### Attached Evidence
Upload evidence/proof supporting the justification above. Please describe the evidence provided if it is not obvious.

Vulnerability finding from our Vulnerability report:

 * {{ vuln_url }}+

---
---
### Do Not Edit Below
/confidential
/label  ~"FedRAMP Deviation Request" ~"FedRAMP Vendor Dependency" ~"FedRAMP DR Status::Ready for Review"
