Issue created from vulnerability [{{ vulnerability.iid }}]({{ vulnerability.url }})

### Description

{{ vulnerability.description_html }}

- Severity: {{ vulnerability.severity.capitalize }}
- Project: [{{ vulnerability.project.name_with_namespace }}]({{ vulnerability.project.web_url }})
- Tool: {{ vulnerability.report_type.capitalize }}
- Scanner: {{ vulnerability.scanner.name }}

{% if vulnerability.location %}
  ### Location
  {% if vulnerability.has_image? %}
    - Image: {{ vulnerability.location&.image }}
  {% endif %}

  {% if vulnerability.has_operating_system %}
    - Namespace: {{ vulnerability.location&.operating_system }}
  {% endif %}
{% endif %}

### Identifier
- [{{ vulnerability.primary_identifier.external_id }}]({{ vulnerability.primary_identifier.url }})

/confidential

/label ~security ~"type::bug" ~"bug::vulnerability"
/label ~security_auto_triage
/label ~"FedRAMP Milestone::Vuln Remediation"
/label ~"section::sec" ~"devops::secure" ~"group::composition analysis"
/label ~"severity::{{ vulnerability.severity_number }}" ~"priority::{{ vulnerability.severity_number }}"

/label ~"Category:{{ vulnerability.category }}"
